node_modules
node_modules/*
npm-debug.log
logs/
.git
*.md
.cache
.gitignore
README.md
# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/